/* frontend/src/components/Measurements.css */

/* Container for measurements */

.measurements-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #200e0700; /* Light background color */
}

/* Box styling for measurements */
.measurements-box {
    background-color: #69e0e83f;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 1000px;
    height: 500px;
    text-align: center;
}

/* Heading for measurements */
.measurements-box h2 {
    font-size: 100px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

/* Paragraph styling for sensor data */
.measurements-box p {
    font-size: 45px;
    color: #1ec5ce;
    margin: 10px 0;
    font-family: 'Arial', sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.5;
}

/* Loader styling */
.loading {
    text-align: center;
    font-size: 20px;
    color: #007bff;
}
button{
    width: 100%;
    padding: 15px;
    font-size: 55px;
    color: rgb(240, 33, 171);
    background-color: #51ff00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    
}